#welcome-text {
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
}

#inner-text1 {
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
}

#inner-text2 {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}

#iframe {
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 88%;
    border: 5px solid black;
    box-shadow: 0px 0px 3px 0px whitesmoke;
}